*{
    margin: auto;
    padding: auto;
    border: auto;
     
    overflow-x: hidden;
    scroll-behavior: smooth;
  }

/* Name Section */
.headContainer
{
  font-family: 'Source Code Pro', monospace;
  text-align: center;
}
.headImg
{
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -0%);
}
.headContainer h1
{
  padding: 0.2em 0.4em 0.4em 0.4em;
  background-color: rgba(55, 55, 55, 0.85);

  font-size: 5.5em;
  color: #0bb7b8;
  white-space: nowrap;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Descriptions*/
.headContainer h2,h3
{
  font-size: 1.75em;
  color: #0bb7b8;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-154%, 100%);
}
.headContainer h3
{
  transform: translate(-6%, 100%);
}

/* Flex */
.flexContainer
{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.flexItem
{
  margin: 0em;
  padding: 1.5em;
}
/* Buttons */
.landingButtons
{
  width: 49.5em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 175%);
}
.landingButtons button
{
  font-family: 'Source Code Pro', monospace;
  padding: 0.15em 1.57em 0.15em 1.75em;
  background-color: rgba(55, 55, 55, 0.85);
  font-size: 2em;
  color: #17B300;
  border: none;
  cursor: pointer;
}
.landingButtons button:hover, button::selection
{
  background-color: rgba(27.5, 27.5, 27.5, 1);
}

#aboutMe
{
  font-family: Helvetica, sans-serif;
  transform: translate(0%, );
}
#aboutMe img
{
  width: 100%;
  max-width: 25em;
}
.centeredText {text-align: center;}

/* Mobile */
@media only screen and (max-width: 768px)
{
/* Name Section */
.headContainer h1
{
  font-size: 2.5em;
}

/* Descriptions*/
.headContainer h2,h3
{
  font-size: 0.8em;
}

/*Buttons*/
.landingButtons
{
  width: 15em;
  transform: translate(-50%, 20%);
}
.landingButtons button
{
  padding: 0.5em;
  min-width: 13em;
  margin-top: 0.5em;
  background-color: rgba(55, 55, 55, 0.85);
  font-size: 1.5em;
  color: #17B300;
  border: none;
  cursor: pointer;
}
}