*{
    margin: auto;
    padding: auto;
    border: auto;
     
    overflow-x: hidden;
    scroll-behavior: smooth;
    -ms-overflow-style: none;  /* Hide scrollbar on IE and Edge browsers  */
    scrollbar-width: none;     /* Hide scrollbar on FireFox based browsers */
  }
*::-webkit-scrollbar{display: none;} /* Hide scrollbar on Chrome based browsers*/
 .centeredText {text-align: center;}

/* Name Section */
.headContainer
{
  position: relative; /* Name & Buttons position relative to the image instead of the screen*/
  font-family: 'Source Code Pro', monospace;
  text-align: center;
}
.headImg
{
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -0%);
  width: 100%;
}
.headContainer h1
{
  padding: 0.2em 0.4em 0.4em 0.4em;
  background-color: rgba(55, 55, 55, 0.85);

  font-size: 5.5em;
  color: #0bb7b8;
  white-space: nowrap;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Descriptions*/
.headContainer h2, .headContainer h3
{
  font-size: 1.75em;
  color: #0bb7b8;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-154%, 100%);
}
.headContainer h3
{
  transform: translate(-6%, 100%);
}

/* Flex */
.flexContainer
{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.flexItem
{
  margin: 0em;
  padding: 1.5em;
}
/* Buttons */
.transparentButtonContainer
{
  width: 49.5em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 175%);
}
.transparentButtonContainer button
{
  font-family: 'Source Code Pro', monospace;
  padding: 0.15em 1.57em 0.15em 1.75em;
  background-color: rgba(55, 55, 55, 0.85);
  font-size: 2em;
  color: #17B300;
  border: none;
  cursor: pointer;
}
.transparentButtonContainer button:hover, .transparentButtonContainer button::selection
{
  background-color: rgba(27.5, 27.5, 27.5, 1);
}
/* General */
body
{
  font-family: Helvetica, sans-serif;
}
a:link, a:visited, a:hover, a:active
{
  color:#00dd00;
}
h1
{
padding: 0.3em;
}
/* About Me Section */
#aboutMe
{
  padding: 4em 0em 4em 0em;
}
.aboutIMG
{
  width: 100%;
  max-width: 25em;
}
/* Projects Sections */
#projects
{
  padding-bottom: 4em;
}
#projects .flexItem
{  
  position: relative;
}
#projects img
{
  margin: -0.88em -0.75em -0.88em -0.75em;
  padding: 0em;
  width: 38em;
  transition: .5s ease;
}
.projectDescContainer
{
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 49%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  width: 30em;
  height: 3em;
  padding: 9.2em 4em 9.2em 4em;
  background: rgba(0, 0, 0, 0.6);
}
.projectDesc
{
  color: #fff;
  transform: translatey(-2%);
  width: 30em;
}
.flexItem:hover .projectDescContainer 
{
  opacity: 1;
}
/* Contact Section */
#contact
{
  background-color: #292929;
  color: #fff;
  padding-bottom: 4em;
}
#contact embed
{
  width: 47.5em;
  min-height: 31em;
}
#contact label, #contact input[type=text], #contact select, #contact textarea{
  border-radius: 0.45em ;
  width: 40em;
  padding: 0.2em;
  margin-bottom: 1em;
  font-size: 1.2em;
  font-family: Helvetica, sans-serif;
  resize: none;
}
.formSubmit
{
  width: 100%;
  padding: 0.5em;
  background-color: rgba(23, 179, 0, 0.85);
  color: #292929;
  border: none;
  cursor: pointer;
  font-size: 1.2em;
  font-weight: bolder;
  font-family: Helvetica, sans-serif;
}
footer
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 0.75em 0em 0.75em 0em;
  background-color: #292929;
  border-top: rgba(23, 179, 0, 0.85) 0.1em solid;
}
/* Mobile */
@media only screen and (max-width: 768px)
{
  /* Name Section */
  .headContainer{ position:unset; /* Name & Buttons position relative to the screen instead of the image*/}
  .headContainer h1{font-size: 2.5em;}

  /* Descriptions*/
  .headContainer h2,.headContainer h3{font-size: 0.8em;}

  /*Buttons*/
  .transparentButtonContainer
  {
    width: 15em;
    transform: translate(-50%, 20%);
  }
  .transparentButtonContainer button
  {
    padding: 0.5em;
    min-width: 13em;
    margin-top: 0.5em;
    background-color: rgba(55, 55, 55, 0.85);
    font-size: 1.5em;
    color: #17B300;
    border: none;
    cursor: pointer;
  }
  /*Projects*/
  #projects img
  {
    width: 22em;
  }
  .projectDescContainer
  {
    width: 22em;
    height: 12.4em;
    padding: 0em;
    background: rgba(0, 0, 0, 0.6);
    top: 48.5%;
    left: 50%;
  }
  .projectDesc
  {
    color: #fff;
    width: 30em;
    font-size: 70%;
    transform: translatey(50%);
  }
  /*Contact*/
  #contact embed
  {
    /*width: 22em;*/
    width: 5%;
    min-width: 25em;
  }
  #contact label, #contact input[type=text], #contact select, #contact textarea
  {
    width: 20em;
    padding: 0.2em;
    margin-bottom: 1em;
    font-size: 1.2em;
  }
}